<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SR6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SR6.SR6" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SR6.Properties.Settings>
            <setting name="File_Path" serializeAs="String">
                <value>C:\Bat Recordings\</value>
            </setting>
            <setting name="File_Name_Template" serializeAs="String">
                <value>BatTest</value>
            </setting>
            <setting name="Initial_Index" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AppendDateTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppendIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Brightness" serializeAs="String">
                <value>65000</value>
            </setting>
            <setting name="Contrast" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GPSPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="GPSBaud" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="FourierWindow" serializeAs="String">
                <value>Hanning</value>
            </setting>
            <setting name="SampleAdvance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FourierOrder" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="WordSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SampleRate" serializeAs="String">
                <value>192000</value>
            </setting>
            <setting name="LocalOscillator" serializeAs="String">
                <value>Tone</value>
            </setting>
        </SR6.Properties.Settings>
        <SR6.SR6>
            <setting name="File_Path" serializeAs="String">
                <value>C:\Bat Recordings\</value>
            </setting>
            <setting name="File_Name_Template" serializeAs="String">
                <value>BatTest</value>
            </setting>
            <setting name="Initial_Index" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AppendDateTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApendIndex" serializeAs="String">
                <value>True</value>
            </setting>
        </SR6.SR6>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
